footer {
  padding: 1rem;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

footer ul li {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 64rem) {
  footer {
    padding: 1rem 2rem;
  }

  footer ul li:first-child {
    margin-left: auto;
  }
}
