header {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: var(--color-white);
  z-index: 1;
}

header h1 {
  font-size: 2rem;
}

@media screen and (min-width: 64rem) {
  header {
    padding: 1rem 2rem;
  }
}
