:root {
  --black: 0, 0, 0;
  --brightMaroon: 195, 34, 70;
  --white: 255, 255, 255;

  --color-black: rgb(var(--black));
  --color-brightMaroon: rgb(var(--brightMaroon));
  --color-white: rgb(var(--white));

  --color-black-1: rgba(var(--black), 0.8);
  --color-black-2: rgba(var(--black), 0.6);
  --color-black-3: rgba(var(--black), 0.1);

  --font-plusJakartaSans-regular: "Plus Jakarta Sans Regular";
  --font-plusJakartaSans-semibold: "Plus Jakarta Sans Semibold";
  --font-japanhip: "Japanhip", var(--font-plusJakartaSans-regular);
}
