:root {
  --body-bg: #ffffff;
  --body-fg: #000000aa;
  --heading-fg: #000000;
  --border-bg: #0000001a;
  --white: #ffffff;
  --brightMaroon: #c32246;
  --model-bg: #00000080;

  --radius-lg: 10px;
  --radius-sm: 5px;

  --font-plusJakartaSans-regular: "Plus Jakarta Sans Regular";
  --font-plusJakartaSans-semibold: "Plus Jakarta Sans Semibold";
  --font-japanhip: "Japanhip", var(--font-plusJakartaSans-regular);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #121212;
    --body-fg: #ffffff99;
    --heading-fg: #ffffff;
    --border-bg: #ffffff1a;
    --brightMaroon: #6d1226;
    --model-bg: #ffffff20;
  }
}