:root {
  --body-bg: #ffffff;
  --body-fg: #000000cc;
  --heading-fg: #000000;
  --border-bg: #0000001a;
  --white: #ffffff;
  --brightMaroon: #c32246;

  --font-plusJakartaSans-regular: "Plus Jakarta Sans Regular";
  --font-plusJakartaSans-semibold: "Plus Jakarta Sans Semibold";
  --font-japanhip: "Japanhip", var(--font-plusJakartaSans-regular);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #121212;
    --body-fg: #ffffffcc;
    --heading-fg: #ffffff;
    --border-bg: #ffffff1a;
  }
}
