.about {
  display: flex;
  flex-direction: column;
}

.about__content {
  order: 1;
}

.about__description {
  padding: 2rem 1rem;
}

.about__description div {
  font-size: 1.125rem;
}

.about__description h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.about__description p {
  color: var(--color-black-1);
  margin-bottom: 2rem;
}

.about__images .tuna,
.about__images .shrimp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: var(--color-brightMaroon);
  color: var(--color-white);
  width: 100%;
}

.about__images .tuna {
  border-bottom: 5px solid var(--color-white);
}

.about__images .tuna img,
.about__images .shrimp img {
  max-width: 11.75rem;
}

.about__images .tuna div:last-child,
.about__images .shrimp div:first-child {
  font-size: 4rem;
  font-weight: bold;
}

@media screen and (min-width: 40rem) {
  .about__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about__images .tuna {
    border-bottom: inherit;
    border-right: 5px solid var(--color-white);
  }

  .about__images .tuna,
  .about__images .shrimp {
    padding: 2rem;
  }
}

@media screen and (min-width: 64rem) {
  .about {
    display: flex;
    flex-direction: row;
  }

  .about__content {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: inherit;
  }

  .about__description {
    padding: 2rem;
  }

  .about__description h2 {
    font-size: 3rem;
  }

  .about__images {
    flex: 1.5;
    flex-direction: column;
  }

  .about__images .tuna,
  .about__images .shrimp {
    height: 100%;
    border-bottom: 5px solid var(--color-white);
  }

  .about__images .tuna {
    border-right: inherit;
    border-top-right-radius: 10px;
  }
}
