.hero__image {
  background-color: var(--color-brightMaroon);
  position: relative;
  padding-bottom: 2rem;
}

.hero__image img {
  transform: translateY(4rem);
}

.hero__image span {
  position: absolute;
  bottom: 0;
  font-size: 14vw;
  line-height: 1.1;
  font-weight: bold;
  color: var(--color-white);
  margin: 0 0 1rem 1rem;
}

.hero__description {
  padding: 2rem 1rem;
}

.hero__description h2 {
  font-size: 3rem;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.hero__description p {
  font-size: 1.125rem;
  color: var(--color-outerSpace);
  margin-bottom: 2rem;
}

.hero__info {
  padding: 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__info .customers__base {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  border-bottom: 1px solid var(--color-gray);
  padding-bottom: 1.5rem;
}

.hero__info .customers__base,
.hero__info .customer__feedback {
  width: 14rem;
}

.hero__info .customers__base div:first-child {
  font-family: var(--font-playfairDisplay);
  font-size: 4rem;
}

.hero__info .customers__base div:last-child,
.hero__info .customer__feedback {
  color: var(--color-graniteGray);
}

.hero__info .customer__feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  gap: 1rem;
}

.hero__info .customer__feedback img {
  width: 5rem;
}

.hero__info .customer__feedback p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 40rem) {
  .hero__info {
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
    margin: 0 1rem;
    border-top: 1px solid var(--color-gray);
  }

  .hero__info .customers__base,
  .hero__info .customer__feedback {
    width: inherit;
  }

  .hero__info .customers__base {
    padding-bottom: 0;
    border-bottom: inherit;
    padding-right: 2rem;
    border-right: 1px solid var(--color-gray);
  }

  .hero__info .customer__feedback {
    padding-top: 0;
    flex-direction: row;
    text-align: inherit;
    padding-left: 2rem;
  }
}

@media screen and (min-width: 64rem) {
  .hero {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }

  .hero__image {
    flex: 1;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom-left-radius: 10px;
    display: flex;
  }

  .hero__image img {
    transform: translate(30px, 10px) scale(1.15);
    margin: auto 0;
  }

  .hero__image span {
    font-size: 6.25rem;
  }

  .hero__content {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero__description {
    padding: 6rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hero__description h2 {
    font-size: 4rem;
  }

  .hero__info {
    margin: 0 2rem;
  }
}
