.hero__image {
  background-color: var(--color-brightMaroon);
  color: var(--color-white);
  position: relative;
  padding-bottom: 2rem;
}

.hero__image img {
  transform: translateY(4rem);
}

.hero__image span {
  position: absolute;
  bottom: 0;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: bold;
  margin: 0 0 1rem 1rem;
}

.hero__description {
  padding: 2rem 1rem;
}

.hero__description h2 {
  font-size: 3.5rem;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.hero__description p {
  font-size: 1.125rem;
  color: var(--color-black-1);
  margin-bottom: 2rem;
}

.hero__info {
  padding: 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__info .customers__base {
  border-bottom: 1px solid var(--color-black-3);
  padding-bottom: 1.5rem;
}

.hero__info .customers__reviews {
  padding-top: 1.5rem;
}

.hero__info .customers__base,
.hero__info .customers__reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  flex: 1;
}

.hero__info .customers__base div:first-child,
.hero__info .customers__reviews div:first-child {
  font-family: var(--font-japanhip);
  font-size: 4rem;
}

.hero__info .customers__base div:last-child,
.hero__info .customers__reviews div:last-child {
  color: var(--color-black-2);
}

.hero__info .customers__reviews div:first-child i {
  font-size: 2rem;
  transform: translateY(-11px);
}

@media screen and (min-width: 40rem) {
  .hero__info {
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
    margin: 0 1rem;
    border-top: 1px solid var(--color-black-3);
  }

  .hero__info .customers__base {
    padding-bottom: 0;
    border-bottom: inherit;
    padding-right: 2rem;
    border-right: 1px solid var(--color-black-3);
    justify-content: flex-end;
  }

  .hero__info .customers__reviews {
    padding-top: 0;
    padding-left: 2rem;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 64rem) {
  .hero {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }

  .hero__image {
    flex: 1;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
  }

  .hero__image img {
    transform: translate(30px, 10px) scale(1.15);
    margin: auto 0;
  }

  .hero__content {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero__description {
    padding: 6rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hero__description h2 {
    font-size: 4rem;
  }

  .hero__info {
    margin: 0 2rem;
  }
}
